* {
    margin: 0%;
    padding: 0%;
    user-select: none;
    box-sizing: border-box;
}

body {
    font-size: 17px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

.maincontainer {
    width: 100%;
    display: flex;
    padding: 15px;
    height: 140px;
    justify-content: space-around;
    align-items: center;
    background-color: #3f6aaa;
}

.contenedorLogo {
    color: #f5f5f5cc;
    text-shadow: 0px 0px 10px #424242;
    font-size: 22px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*nav*/
.contenedornav {
    height: 74%;
}

.contenedornav .mainheaderNav .headernav ul {
    display: flex;
}

.headernav ul li {
    list-style: none;
    font-size: 19px;
    margin: 0px 6px;
}

.headernav ul li a {
    color: #eff2f8c2;
    text-decoration: none;
}

.unli i {
    font-size: 23px;
}

/*bannerBebidas*/
.contenedorSection {
    background-color: rgba(36, 93, 197, 0.705);
}

.contimg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.bannerBebidas {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 98%;
    margin-top: 16px;
    height: 640px;
}

.bannerBebidas img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.bannerimgText {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #e4e9f1;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.644);
}

.bannerbebidasText {
    width: 96%;
    height: 680px;
    position: absolute;
    margin-top: 20px;
    text-align: center;
}

.bannerbebidasText h2 {
    margin-top: 134px;
    font-size: 22px;
    font-family: Archivo;
}

.conth3banner {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 9px;
}

.conth3banner h3 {
    font-size: 45px;
    font-family: Archivo;
    margin: 0px 4px;
}

.conth3banner h3:nth-child(1) {
    color: rgb(17, 152, 185);
}

.conth3banner h3:nth-child(2) {
    color: #303030;
}

.golosinasBanner {
    height: 210px;
}

.textBanner {
    font-weight: bold;
    font-family: Arial, Poppins;
    font-size: 16px;
    margin-top: 20px;
    color: #303030;
}

.contbuttonDO {
    width: 100%;
    margin-top: 10px;
}

.contbuttonDO button {
    padding: 11px;
    border-radius: 20px;
    width: 100px;
    margin: 6px;
    border: none;
    font-family: Poppins;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}

.contbuttonDO button:nth-child(1) {
    background-color: #77b823f3;
    color: #e4e9f1;
}

.contbuttonDO button:nth-child(2) {
    background-color: rgba(17, 151, 185, 0.966);
    color: #e4e9f1;
}

/**** QUE ESTAS BUSCANDO? ****/
.contenedorOptions {
    padding: 0px 0px 10px 0px;
}

.optionsBannerAbajo {
    width: 98%;
    background-color: rgb(7, 5, 19);
    border-radius: 20px;
    margin: auto;
    height: 60px;
}

.optionsBannerAbajo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsBannerAbajo .option .pOption p {
    color: #ffffff;
    font-weight: bold;
    width: 108px;
    margin: 0px 20px;
    text-align: center;
    padding: 10px 0px;
    font-size: 10px;
    background-color: rgb(17, 33, 58);
    border: 3px solid rgb(7, 16, 31);
    border-radius: 24px;
}

.optionsBannerAbajo .option p:hover {
    background: linear-gradient(to right, #d11f45, #d11e45, #c02b4b, #d11f45, #d11f45, #790b4d);
    font-size: 12px;
    padding: 13px 2px;
    cursor: pointer;
    border: none;
}

/***POPTIONSELECT  DIV SELECCIONADO SEGUN LA OPCION***/
.pOptionSelect {
    display: none;
    display: flex;
    justify-content: center;
}

/*contBeige*/
.optionSelect {
    width: 100%;
}

.beigeOptionSelect {
    width: 96%;
    margin: auto;
    background-color: rgb(255, 245, 209);
    display: flex;
    padding: 20px;
}

/*Productbox*/
.pOptionSelect {
    display: none;
}

.ProductBox {
    display: flex;
    margin: auto;
    width: 870px;
}

/**** PRODUCTO GENERAL ***/
.producto {
    padding: 10px;
    background-color: rgb(253, 251, 243);
    text-align: center;
}

/*All y producto*/
.productoGeneral {
    padding: 10px;
    background-color: rgb(253, 251, 243);
    text-align: center;
}

/*middleAllyproducto*/
.middleProduct {
    height: 210px;
    display: flex;
}

.middleGeneral {
    height: 210px;
    display: flex;
}

.middleGeneral img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*footer del productoyall*/
.footerProductText {
    font-size: 12px;
    height: 116px;
}

.footerGeneralText {
    font-size: 12px;
    height: 116px;
}

.footerGeneralText h3 {
    font-size: 16px;
    font-family: Poppins;
    color: #303030;
    padding: 6px;
}

.footerGeneralText p:nth-child(3) {
    color: rgb(58, 58, 58);
    font-weight: bold;
}

/*footerbtn del producto*/
.pOptionSelect {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footerproductbuttonGeneral {
    padding: 6px;
}

.buttonVer {
    width: 90px;
    height: 30px;
    border-radius: 40px;
    border: none;
    color: #ffffff;
    background-color: rgb(235, 67, 67);
    cursor: pointer;
}

/*MEDIA general*/
/*NO TOCAR*/

@media (max-width:947px) {
    .ProductBox {
        width: 680px;
        flex-wrap: wrap;
    }

    .producto {
        width: 33%;
    }
}

/*MEDIA GENERALES*/
/*NO TOCAR*/
/*NO TOCAR*/
/*NO TOCAR*/
@media (max-width:747px) {
    .contenedorLogo {
        font-size: 16px;
    }

    .headernav ul li {
        font-size: 14px;
    }

    .contimg {
        width: 100%;
    }

    .golosinasBanner {
        height: 140px;
    }

    .optionsBannerAbajo .option .pOption p {
        width: 110px;
        margin: 20px 4px;
        font-size: 12px;
    }

    .ProductBox {
        flex-wrap: wrap;
        width: 98%;
    }

    /*productbox*/
    .producto {
        width: 50%;
    }
}

@media (max-width:500px) {
    .footerProductText {
        height: 116px;
    }
}

/*NO TOCAR*/
/*NO TOCAR*/
/*NO TOCAR*/

/********* FILTRO Y SECCION PRODUCTOS *********/
/*SECCION ALL PRODUCTS y productos de all products*/
/*contenedor de derecha e izquierda*/

/*ProductBox contiene todos los productos de una categoría de productos
 y productoAll
 es un producto*/
.pOptionSelectAllProduct {
    background-color: rgb(253, 251, 243);
}

.AllProductsh2 {
    text-align: center;
    margin: 40px 0px 30px;
}

.contenedorAllProduct {
    display: flex;
    height: 100%;
    justify-content: center;
}

/*FILTROS*/
/*contenedor izquierda*/
.contFilterProducts {
    padding: 2px;
    display: block;
}

/*contenedor derecha*/
/*dentro de filtros*/
.FilterProducts {
    color: #252525;
    position: sticky;
    width: 200px;
    z-index: 300;
    top: 0px;
    margin-top: 18px;
    padding: 12px;
    text-align: center;
    background-color: rgb(253, 251, 243);
}

.FilterProducts h3 {
    border-bottom: 2px solid rgb(68, 68, 68);
    width: 90%;
    margin: auto;
}

.filters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.opcionFilterDiv {
    display: flex;
    flex-direction: column;
}

.opcionFilterDiv button {
    border: none;
    padding: 8px;
    background: none;
    cursor: pointer;
    width: 82%;
    margin: auto;
}

/*dentro derecha*/
/*h3 Titulo de productos que hay segun el filtro*/
.tittleProducts {
    padding: 6px;
    border-top: 1px solid rgb(139, 139, 139);
    border-bottom: 1px solid rgb(139, 139, 139);
    background-color: rgb(43, 43, 43);
    color: #f8f8f8;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

.productBoxAll {
    width: 1100px;
    padding: 4px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.productoAll {
    width: 200px;
}

@media (min-width:1320px) {
    .opcionFilterDiv button {
        color: #2e2e2e;
    }

    .opcionFilterDiv button:nth-child(1) {
        border-bottom: 1px solid rgb(124, 124, 124);
        border-top: 1px solid rgb(124, 124, 124);
        margin-top: 8px;
        color: #1d1d1d;
        font-weight: bold;
    }

    .buttonCombo button:nth-child(2) {
        border-bottom: 1px solid rgb(124, 124, 124);
        margin-top: 2px;
        color: #1d1d1d;
        font-weight: bold;
    }
}

@media (max-width:1320px) {
    .opcionFilterDiv button {
        color: #2e2e2e;
    }

    .opcionFilterDiv button:nth-child(1) {
        border-bottom: 1px solid rgb(124, 124, 124);
        border-top: 1px solid rgb(124, 124, 124);
        margin-top: 8px;
        color: #1d1d1d;
        font-weight: bold;
    }

    .buttonCombo button:nth-child(2) {
        border-bottom: 1px solid rgb(124, 124, 124);
        margin-top: 2px;
        color: #1d1d1d;
        font-weight: bold;
    }

    .productBoxAll {
        width: 870px;
    }
}

@media (max-width:1096px) {
    .productBoxAll {
        width: 650px;
    }
}

@media (max-width:870px) {
    .productBoxAll {
        width: 100%;
        gap: 5px;

    }

    .productoAll {
        width: 48%;
    }
}

@media (max-width:660px) {
    .contenedorAllProduct {
        flex-direction: column;
    }

    .contFilterProducts {
        position: sticky;
        width: 100%;
        top: 0px;
        background-color: #ebdd95e0;
    }

    .FilterProducts {
                margin-top: 0px;
        width: 100%;
    }

    .filters {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .opcionFilterDiv {
        width: 40%;
    }

    .opcionFilterDiv button {
        background: none;
        border-radius: none;
        width: 80%;
        color: #202020;
        margin: 0px auto;
    }

    .opcionFilterDiv button:nth-child(1) {
        border: none;
        border-bottom: 1px solid rgb(26, 26, 26);
    }

    .buttonCombo button:nth-child(2) {
        border: none;
        border-bottom: 1px solid rgb(26, 26, 26);
    }
}

@media (max-width:500px) {

    .contFilterProducts {
        position: sticky;
        width: 100%;
        background-color: #ebdd95e0;
    }

    .FilterProducts {
        margin-top: 0px;
        width: 100%;
    }

    .filters {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .opcionFilterDiv {
        width: 40%;
    }

    .opcionFilterDiv button {
        background: none;
        border-radius: none;
        width: 80%;
        color: #202020;
        margin: 0px auto;
    }

    .opcionFilterDiv button:nth-child(1) {
        border: none;
        border-bottom: 1px solid rgb(26, 26, 26);
    }

    .buttonCombo button:nth-child(2) {
        border: none;
        border-bottom: 1px solid rgb(26, 26, 26);
    }
}

/*detalles*/
/*producto en oferta*/
.productoEnOferta {
    background-color: rgb(222, 245, 209);
}

/******* panel de encargar *******/
.contFondoDetalleProducto {
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d8e;
    position: fixed;
    z-index: 400;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.detalleProducto {
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 60px auto;
}

.buttonCerrar {
    padding: 8px 0px 16px 0px;
    display: flex;
    justify-content: end;
}

/* Esto oculta las flechitas en algunos navegadores */
#cantidadProducto {
    font-size: 17px;
    width: 60px;
    box-sizing: border-box;
    -moz-appearance: textfield;
    /* Firefox */
}

/* Restaurar los spinners en WebKit (Chrome, Edge) */
#cantidadProducto::-webkit-inner-spin-button,
#cantidadProducto::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
}

/* Restaurar los spinners en WebKit (Chrome, Edge) */
#cantidadProducto::-webkit-inner-spin-button,
#cantidadProducto::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
}

.buttonCerrar button {
    text-align: center;
    width: 28px;
    padding: 6px;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 40px;
}

/**** SECCION FORMULARIO DE QUEJAS ****/
.reclamos {
    position: relative;
    margin-top: 14px;
    display: flex;
    justify-content: center;
}

.contenedorImgBlur {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #01070ce5;
    padding: 60px 4px;
    justify-content: center;
}

.ContContactoReclamo {
    width: 96%;
    max-width: 640px;
    border-radius: 4px;
    background-color: #ffffffe8;
}

/*divs*/
.tittleReclamos {
    text-align: center;
    z-index: 203;
    color: #141414;
}

.ContContactoReclamo {
    padding: 18px;
    font-family: Poppins, 'Courier New', Courier, monospace;
}

.ContContactoReclamo form {
    border-radius: 3px;
    padding: 10px;
}

.ContContactoReclamo form input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #919191;
    width: 100%;
    font-size: 15px;
    margin: 3px 0px;
}

.formLabelInput {
    margin: 2px;
}

.formLabelInput label {
    color: #272727;
}

.contButtonSubmit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ContContactoReclamo form button {
    width: 88px;
    height: 38px;
    cursor: pointer;
    color: #dfdfdf;
    border: 2px solid #0d141b;
    background-color: rgb(13, 25, 37);
    border-radius: 14px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 12px;
}

.ContContactoReclamo textarea {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #919191;
}

@media (max-width:864px) {
    .ContContactoReclamo {
        padding: 10px;
    }

    .ContContactoReclamo form input {
        font-size: 12px;
    }

    .ContContactoReclamo form label {
        font-size: 14px;
    }

    .ContContactoReclamo textarea {
        padding: 4px;
        font-size: 13px;
    }

    .contButtonSubmit {
        padding: 12px;
    }
}

/*MENSAJE PERSONALIZADO*/
.mensajePersonalizado {
    display: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fffffff1;
    z-index: 700;
    padding: 20px;
    text-align: center;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.mensajePersonalizado h3 {
    text-align: center;
    color: #25b348;
    margin-top: 200px;
    font-size: 30px;
}
.mensajePersonalizado p {
    font-size: 40px;
}
/******************FOOTER******************/
.unicfoot {
    width: 100%;
    color: #f8f8f8;
    background-color: #1a1a1af6;
    padding: 20px 30px;

}

.contInfoFooter {
    width: 260px;
    margin: 6px;
}

.contFooter {
    width: 100%;
    justify-content: center;
    display: flex;
}

.contMainFooter {
    background-color: rgba(14, 14, 14, 0.397);
    margin: 14px 0px;
    padding: 20px 0px;
    border-radius: 8px;
}

.infoFooter {
    width: 100%;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 300;
}

.iconsFoterRedes {
    font-size: 30px;
}

.contTextInfo {
    font-size: 20px;
}

.infoFooter p {
    margin: 5px 0px;
    color: rgb(206, 206, 206);
}

/*div contenedor de texto*/

/*p derechosfooter*/
.copyText {
    text-align: center;
    padding: 20px;
    font-size: 13px;
    color: rgb(206, 206, 206)
}

/**/
@media (max-width:866px) {
    .contInfoFooter {
        margin: 2px;
    }

    .unicfoot {
        padding: 6px;
    }

    .contInfoFooter {
        width: 216px;
        font-size: 14px;
    }

    .contTextInfo {
        font-size: 17px;
    }

    .infoFooter {
        font-size: 12px;
    }

    .iconsFoterRedes {
        font-size: 25px;
    }
}

@media (max-width:684px) {
    .contInfoFooter {
        width: 184px;
        font-size: 9px;
    }

    .iconsFoterRedes {
        font-size: 20px;
    }

}

@media (max-width:596px) {
    .contInfoFooter {
        width: 90%;
        margin: auto;
    }

    .contFooter {
        flex-wrap: wrap;
        justify-content: start;
    }

    .iconsFoterRedes {
        font-size: 26px;
    }
}